/* Universal  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/* Reusable CSS */

:root {
    --section-margin: 20px 0;
}

a {
    text-decoration: none;
    color: black;
}


/* NavBar */

.navbar {
    background-color: #000;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: #ffffff !important;
    /* White text color */
}

.navbar-light .navbar-toggler-icon {
    background-color: yellow;
}

.navbar-brand {
    font-size: 2rem;
}

.navbar-brand .logo {
    color: yellow;
}

.navbar-toggler {
    background-color: transparent;
    border: 1px solid yellow;
    color: yellow;
}

.nav-item {
    margin: 0 20px;
}

.navbar-nav .nav-link:hover {
    color: yellow !important;
    border-bottom: 2px solid yellow;
}

.navbar-nav .nav-link {
    transition: 0.8s ease;
}


/* Section  */

section {
    margin: var(--section-margin);
}


/* Search Bar */

.wide-search-bar {
    margin-right: 10px;
}

.btn {
    background-color: #000;
}

.btn:hover {
    background-color: yellow;
    color: #000;
}


/* Carousel */

.carousel-item img {
    margin: 0 auto;
    /* Center the image within the carousel */
}


/* Movies Details */

.movie-details,
.movie-news {
    padding: 20px;
    border: 1px solid #fff;
    color: #fff;
    height: 100%;
}

.movie-details {
    background-color: #000;
    /* Black background color for movie details section */
}

.movie-news {
    background-color: #000;
    /* Black background color for movie news section */
}

img {
    max-width: 100%;
    height: auto;
}

.movie-header {
    color: yellow;
}


/* Footer */

#footer {
    margin-bottom: 0;
}

.footer-content {
    padding: 5px 5px;
    display: flex;
    justify-content: space-evenly;
    background-color: #000;
}

.footer-content ul li {
    padding-top: 10px;
}

.footer-content ul {
    list-style: none;
}

.footer-content h1 {
    font-size: 18px;
    /* Adjusted font size */
    line-height: 117%;
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: 500;
}

.footer-content h2 {
    color: #ffffff;
    font-weight: 500;
}

.footer-content ul li a {
    color: #ffffffcc;
    text-decoration: none;
}

.logoinfo {
    margin-right: 0;
    padding: 20px 20px;
}

.logoinfo .navbar-brand {
    color: white;
    font-size: 25px;
}

/* copyright section */

.outside-footer {
    background-color: #000;
    border-top: solid white;
    padding: 5px 5px;
    position: relative;
}

.outside-footer h2 {
    font-size: 14px;
    padding: 5px;
    color: #ffffff;
    text-align: center;
    position: relative;
}


/* Contact Us section*/

.contact-details {
    margin-top: 10px;
}

.contact-details ul {
    padding: 0;
}

.contact-details li {
    list-style: none;
    margin: 5px 5px;
    margin-right: 0px;
}

.contact-details li a {
    text-decoration: none;
    color: #f1f1f1;
}

.contact-details .fa {
    color: #f1f1f1;
    margin-right: 5px;
}


/* about section */

.about-section {
    margin-top: 10px;
    padding: 20px 20px;
}

.about-section h1 {
    padding: 20px 20px;
}

.about-section ul {
    padding-top: 0px;
    padding-left: 20px;
}

.about-section ul li {
    padding: 5px 0;
    transition: 0.8s;
}

.about-section a:hover {
    color: yellow;
}

.footer .footer-content .about-section a {
    color: #000;
}


/* social media section */

.media-content {
    padding: 15px 10px;
    margin-top: 15px;
}

.media-content h1 {
    padding-left: 12px;
}

.socials {
    padding: 20px 0px;
}

.socials .logobox a {
    padding: 10px 15px;
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    transition: 0.8s ease;
}

.socials a:hover {
    color: yellow;
}

@media (max-width: 768px) {
    .footer-content {
        display: block;
        padding: 5px 5px;
    }
    .media-content {
        padding-top: 10px;
    }
    .about-section {
        padding: 15px 0;
    }
}


/* Mobile View */

@media (max-width: 767px) {
    .details {
        margin-bottom: 20px !important;
    }
    .movie-sub {
        margin-bottom: 20px;
    }
}