/* Universal  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Reusable CSS */
:root {
    --section-margin: 20px 0; 
}

a {
    text-decoration: none;
    color: black;
}

/* NavBar */
.navbar {
    background-color: #343a40; /* Dark background color */
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: #ffffff !important; /* White text color */
}

.navbar-light .navbar-toggler-icon {
    background-color: yellow; 
}

.navbar-brand {
    margin-left: rem;
    font-size: 2rem;
}

.navbar-brand .logo {
    color: yellow; 
}

.navbar-toggler {
    background-color: transparent; 
    border: 1px solid yellow; 
    color: yellow;
}

.nav-item {
    margin: 0 20px;
}

.navbar-nav .nav-link:hover {
    color: yellow !important;
    border-bottom: 2px solid yellow;
}

.navbar-nav .nav-link {
    transition: 0.8s ease;
}

/* Section  */

section {
    margin: var(--section-margin);
}

/* Search Bar */

.wide-search-bar {
    margin-right: 10px;
}

.btn {
    background-color: #000;
}

.btn:hover {
    background-color: yellow;
    color: #000;
}

/* Carousel */
.carousel-item img {
    margin: 0 auto; /* Center the image within the carousel */
  }